[[plugin.deps]]
use = "yazi-rs/plugins:smart-enter"
rev = "4c63ed3"
hash = "187cc58ba7ac3befd49c342129e6f1b6"

[[plugin.deps]]
use = "yazi-rs/plugins:chmod"
rev = "4c63ed3"
hash = "5b1c276b75cae91cbbdbe7863f39a540"

[[plugin.deps]]
use = "yazi-rs/plugins:git"
rev = "4c63ed3"
hash = "88e56a64b7ce7c4314427452343fef17"

[[plugin.deps]]
use = "yazi-rs/plugins:smart-filter"
rev = "4c63ed3"
hash = "d6f7351ea25a43c9b5f4315fa1e23935"

[[plugin.deps]]
use = "yazi-rs/plugins:diff"
rev = "4c63ed3"
hash = "a2b67c52fc36d4c7d3ccb8940d9a140"

[[plugin.deps]]
use = "yazi-rs/plugins:smart-paste"
rev = "4c63ed3"
hash = "3f8d49413bc8691b4c652eb417a20178"

[[plugin.deps]]
use = "yazi-rs/plugins:vcs-files"
rev = "4c63ed3"
hash = "b97710d0734c380d0a1f58c13dab0da2"

[[plugin.deps]]
use = "yazi-rs/plugins:zoom"
rev = "4c63ed3"
hash = "e8e279463ee99c940e6945a14cf4aa9e"

[[plugin.deps]]
use = "yazi-rs/plugins:mime-ext"
rev = "4c63ed3"
hash = "b33b8b5e45cb10ffd31d3cccb93c6fd7"

[[plugin.deps]]
use = "yazi-rs/plugins:moun"
rev = "4c63ed3"
hash = "99aa06d3014798d86001c324468d497f"

[[plugin.deps]]
use = "ndtoan96/ouch"
rev = "406ce6c"
hash = "f5afc904d5106ee368c8aa2ded43bd74"

[[plugin.deps]]
use = "yazi-rs/plugins:piper"
rev = "4c63ed3"
hash = "e0d59bd47866a6a574c74574097e5070"

[flavor]
deps = []
